<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ProgressiveWebApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="logo.jpg">
    <%= component 'pwa/manifest', url: request.base_url %>
    <%= component 'pwa/theme', default: '#000000' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="text/javascript">
      window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes %>);
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
